---
import Hcardlayout from "../layouts/Hcardlayout.astro";
import Hcardaskig from "../components/Hcardaskig.astro";
import Oafooter from "../components/Oafooter.astro";
---

<Hcardlayout title="OAaaK hCard" description="セマンティックな着ぐるみさんを目指す">
	<div>
		<Hcardaskig />
        <Oafooter />
	</div>
</Hcardlayout>

<style>

</style>