---
import Layout from '../layouts/Layout.astro';
import Kighero from '../components/Kighero.astro';
import Whoisme from '../components/Whoisme.astro';
import Oaaakmedia from '../components/Oaaakmedia.astro';
import Howtosupport from '../components/Howtosupport.astro';
import Howtocontact from '../components/Howtocontact.astro';
import Oafooter from '../components/Oafooter.astro';
---

<Layout title="Osumi Akari as a Kig">
	<div>
		<Kighero />
		<Whoisme />
		<Oaaakmedia />
		<Howtosupport />
		<Howtocontact />
		<Oafooter />
	</div>
</Layout>

<style>

</style>
