---
import { Image } from "astro:assets";
import Kigwithsakura4k from '../images/kigwithsakura4k.jpg';
---

<head>
    
</head>

<section class="section content">
    <div class="columns vcard">
        <div class="column is-4">
            <Image src={ Kigwithsakura4k } class="photo" alt="桜並木の前で両手をピースするOsumi Akari" />
        </div>
        <div class="column is-8">
            <ul id="list">
                <li class="fn title">
                    Osumi Akari
                </li>
                <li>
                    Short: <span class="fn nickname">oageo</span>
                </li>
                <li>
                    Site: <a href="https://www.osumiakari.jp" class="url" rel="me">https://www.osumiakari.jp</a>
                </li>
                <li>
                    ActivityPub: <a href="https://c.osumiakari.jp/@kig" class="url" rel="me">@kig@c.osumiakari.jp</a>
                </li>
                <li>
                    ActivityPub (Sub) : <a href="https://d.kg-misskey.net/@oa" rel="me">@oa@d.kg-misskey.net</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    #list {
        list-style-type: none;
    }
</style>