<section class="section content">
    <h2 class="title">How to contact me</h2>
    <p>基本的に直接お会いした方には何らかのコミュニケーションツールのアカウント等を基本的にはお渡ししています。直接お会いしたことのある方はそちらを用いていただければ幸いです。</p>
    <p>そうでない方は<a href="https://twitter.com/@Kig_OsumiAkari">Twitter</a>や<a href="https://c.osumiakari.jp/@kig">Firefishの@kigアカウント</a>などからご連絡をいただけるとありがたいです。基本的に用件等が明らかで、私のタスクキューが大量に詰まれていない限り返信させていただこうかなと思います。</p>
</section>