<section class="section content">
    <h2 class="title">How to support</h2>
    <p>こんな私を積極的に支えてくださる方がいいらっしゃるかどうか分かりませんが、支えてくださる方がいらっしゃったらば、私のサイトの「<a href="https://www.osumiakari.jp/gift/">運営者への贈与について</a>」というページをご覧いただければと思います。</p>
    <p>また内臓と直接面識のある方には、私から直接「助けて！」が発射されることがあるかもしれないので、もし発射された際には良しなに対応してくださると大変ありがたいという、押しつけがましい気持ちもあります。</p>
</section>