<section class="section content">
    <h2 class="title">How to contact me</h2>
    <p>基本的に直接お会いした方には何らかのコミュニケーションツールのアカウント等の情報をお渡ししています。直接お会いしたことのある方はそちらを用いていただければ幸いです。</p>
    <p>そうでない方は<a href="https://twitter.com/@Kig_OsumiAkari">Twitter</a>や<a href="https://c.osumiakari.jp/@kig">Iceshrimpの@kigアカウント</a>などからご連絡をいただけるとありがたいです。基本的に用件等が明らかで、私のタスクキューが大量に詰まれていない限り返信させていただこうかなと思います。</p>
    <div>
        <h3 class="title">SNSアカウントなど</h3>
        <div class="columns is-multiline">
            <a class="column is-4" href="https://c.osumiakari.jp/@kig" rel="me">
                <div class="card" style="background-color: #191724;">
                    <div class="card-header">
                        <h4 class="card-header-title has-text-white">Iceshrimp</h4>
                    </div>
                    <div class="card-content has-text-light">
                        <p>@kig@c.osumiakari.jp</p>
                    </div>
                </div>
            </a>
            <a class="column is-3" href="https://d.kg-misskey.net/@oa" rel="me">
                <div class="card" style="background-color: #e84d83;">
                    <div class="card-header">
                        <h4 class="card-header-title has-text-white">着ぐるみすきー！</h4>
                    </div>
                    <div class="card-content has-text-light">
                        <p>@oa@d.kg-misskey.net</p>
                    </div>
                </div>
            </a>
            <a class="column is-3" href="https://www.osumiakari.jp/category/kig/" rel="me">
                <div class="card" style="background-color: #090a0c;">
                    <div class="card-header">
                        <h4 class="card-header-title has-text-white">Osumi Akari.jp</h4>
                    </div>
                    <div class="card-content has-text-light">
                        <p>カテゴリ「kig」の記事一覧</p>
                    </div>
                </div>
            </a>
            <a class="column is-2" href="https://twitter.com/Kig_OsumiAkari" rel="me">
                <div class="card" style="background-color: #1da1f2;">
                    <div class="card-header">
                        <h4 class="card-header-title has-text-white">Twitter</h4>
                    </div>
                    <div class="card-content has-text-light">
                        <p>@Kig_OsumiAkari</p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>