<header class="hero is-fullheight kighero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-white">Osumi Akari as a Kig</h1>
            <p class="subtitle has-text-white">OAaaK</p>
        </div>
    </div>
</header>

<style>
.kighero {
    background-image: url('../images/kighead4k.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>