---
import { Image } from 'astro:assets';
import Kighead4k from '../images/kighead4k.jpg';
---

<section class="section content">
    <h2 class="title">Where is "Osumi Akari as a Kig"'s media</h2>
    <div class="columns">
        <div class="column is-4">
            <Image src={ Kighead4k } alt="" />
        </div>
        <div class="column is-8">
            <p>着ぐるみさんとしての私の姿について、気ままにインターネットの海へと私が放流するかもしれません。その際には私のFirefishサーバー（ActivityPubに対応しています！）である<a href="https://c.osumiakari.jp">c.osumiakari.jp</a>上のアカウント、<a href="https://c.osumiakari.jp/@kig">@kig</a>へと当面は流すことになるかと思います。</p>
            <p>何かあった際には別のプラットフォームや異なるメディア形態で放流することもあるかもしれませんが、その時はその時でという感じでよろしくお願いします。</p>
        </div>
    </div>
</section>