---
import { Image } from 'astro:assets';
import Firstoutside from '../images/firstoutside_2023_1080p.webp'
---

<section class="section content">
    <h2 class="title">Where is "Osumi Akari as a Kig"'s media</h2>
    <div class="columns">
        <div class="column is-4">
            <Image src={ Firstoutside } alt="初めて屋外で撮影していただいた際の画像の1つ。" />
        </div>
        <div class="column is-8">
            <p>着ぐるみさんとしての私の姿について、気ままにインターネットの海へと私が放流するかもしれません。その際には私のIceshrimpサーバー（ActivityPubに対応しています！）である<a href="https://c.osumiakari.jp">c.osumiakari.jp</a>上のアカウント、<a href="https://c.osumiakari.jp/@kig" rel="me">@kig</a>もしくは<a href="https://d.kg-misskey.net/@oa" rel="me">着ぐるみすきー！さん上のアカウント</a>へと当面は流すこと（<a href="https://c.osumiakari.jp/clips/9nf6kj2oxcs3zei8">公開した画像一覧</a>）になるかと思います。</p>
            <p>またYouTubeに流しても大丈夫かもしれないクオリティの物はそっちにも少しずつ流すかもしれません。この場合においては<a href="https://www.youtube.com/playlist?list=PLtYBT6aAEyNTgucYtWO_XR7DF23XcjU4J">こちらのリスト</a>に含めますので、気になる場合はご覧いただければと思います。</p>
            <p>何かあった際には別のプラットフォームや異なるメディア形態で放流することもあるかもしれませんが、その時はその時でという感じでよろしくお願いします。</p>
        </div>
    </div>
</section>