<footer class="footer">
    <p>
        Made by Osumi Akari. 2023/10/01- 
    </p>
    <hr>
    <div class="columns has-text-centered">
        <a class="column" href="https://www.osumiakari.jp" rel="me">Osumi Akari.jp</a>
        <a class="column" href="https://c.osumiakari.jp/@kig" rel="me">ActivityPub: @kig</a>
        <a class="column" href="https://github.com/oageo/kigsite">Source</a>
    </div>
</footer>