<section class="section content">
    <h2 class="title">Who is Osumi Akari</h2>
    <p>Osumi Akariはそこら辺にいます。着ぐるみさんとしてでなくともフラっと適当なところに移動して何かを吐き出しています。</p>
    <p>運営しているサイトとして<a href="https://www.osumiakari.jp">Osumi Akari.jp</a>が存在しており、そちらの<a href="https://www.osumiakari.jp/about/">Aboutページ</a>においてもそれなりに自己紹介をさせていただいているので、よろしければそちらもご覧ください。</p>
</section>
